/* style.css */

div[style^="position: fixed; inset: 0px 0px 0px 50%;"] {
    border: none;
}

div#logContainer {
    width: 100%;
    bottom: 0;
    pointer-events: none;
    height: 25%;
    position: fixed;
    background: rgba(0, 0, 0, 0.2);
    color: #e0e0e0;
    font-family: monospace;
    font-size: 12px;
    z-index: 10000;
    padding: 10px;
    padding-top: 30px;
}

#logHeader {
    position: relative;
    width: 100%;
    background: #333;
    color: white;
    padding: 5px 10px;
    box-sizing: border-box;
    pointer-events: auto;
}

button#clearLogs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    background: red;
    color: white;
    border: none;
    padding: 2px 5px;
    cursor: pointer;
}

#logContent {
    overflow-y: auto;
    max-height: calc(70% - 30px);
    padding: 10px;
    box-sizing: border-box;
}

div#bsky-navigator-toolbar {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    align-items: center;
    width: 100%;
    height: 32px;
    background-color: inherit;
    border-bottom: 1px solid rgb(192, 192, 192);
}

@media (prefers-color-scheme: dark) {
    div#bsky-navigator-toolbar {
        background-color: #29333d
    }
}

.toolbar-icon {
    margin: 0px;
    width: 24px;
    height: 24px;
    padding: 0px 8px;
    flex: 1;
}


.toolbar-icon-pending {
    animation: fadeInOut 1s infinite !important;
}

.indicator-image {
    width: 24px;
    height: 24px;
}

@media (prefers-color-scheme: dark) {
    .indicator-image {
        filter: invert(1) brightness(2);
    }
}

div#infoIndicator {
    flex: 3;
}

div#infoIndicatorText {
    font-size: 0.8em;
}

div#itemTimestampStats {
    font-size: 0.7em;
}

#bsky-navigator-search {
    flex: 1;
    margin: 0px 8px;
    z-index: 10;
    font: 14px "DejaVu Sans Mono", "Lucida Console", "Courier New", monospace;
}

.ui-autocomplete {
    position: absolute !important;
    background-color: white !important;
    border: 1px solid #ccc !important;
    z-index: 1000 !important;
    max-height: 200px !important;
    overflow-y: auto !important;
    list-style-type: none !important;
    font: 14px "DejaVu Sans Mono", "Lucida Console", "Courier New", monospace;
    padding: 2px !important;
}

.ui-menu-item {
    padding: 2px !important;
    font-size: 14px !important;
    color: black !important;
}

/* Highlight hovered item */
.ui-state-active {
    background-color: #007bff !important;
    color: white !important;
}

@media only screen and not (max-width: 800px) {
    div#statusBar {
        display: flex;
        width: 100%;
        height: 32px;
        margin-left: auto;
        margin-right: auto;
        position: sticky;
        z-index: 10;
        align-items: center;
        background-color: #ffffff;
        bottom: 0;
        font-size: 1em;
        padding: 1px;
        border-top: 1px solid rgb(192, 192, 192);
        overflow: clip;
    }
}

@media only screen and (max-width: 800px) {
    div#statusBar {
        display: flex;
        width: 100%;
        height: 32px;
        margin-left: auto;
        margin-right: auto;
        position: sticky;
        z-index: 10;
        align-items: center;
        background-color: #ffffff;
        bottom: 58px;
        font-size: 1em;
        padding: 1px;
        overflow: clip;
    }
}

@media (prefers-color-scheme: dark) {
    div#statusBar {
        background-color: #29333d;
    }
}

div#statusBarLeft {
    display: flex;
    flex: 1;
    text-align: left;
    padding: 1px;
}

div#statusBarCenter {
    display: flex;
    flex: 1 1 auto;
    text-align: center;
    padding: 1px;
}

div#statusBarRight {
    display: flex;
    flex: 1;
    text-align: right;
    padding: 1px;
}

#prevButton {
    z-index: 1000;
    position: absolute;
    top: 30%;
    right: -10px;
    opacity: 20%;
}

#prevButton.mobile {
    position: fixed;
    left: 1%;
    top: 25%;
}

#nextButton {
    z-index: 1000;
    position: absolute;
    bottom: 30%;
    right: -10px;
    opacity: 20%;
}

#nextButton.mobile {
    position: fixed;
    left: 1%;
    bottom: 20%;
}

nav.r-1wyvozj {
    overflow: inherit;
}

@keyframes oscillateBorderBottom {
    0% {
        border-bottom-color: rgba(0, 128, 0, 1);
    }
    50% {
        border-bottom-color: rgba(0, 128, 0, 0.3);
    }
    100% {
        border-bottom-color: rgba(0, 128, 0, 1);
    }
}

@keyframes oscillateBorderTop {
    0% {
        border-top-color: rgba(0, 128, 0, 1);
    }
    50% {
        border-top-color: rgba(0, 128, 0, 0.3);
    }
    100% {
        border-top-color: rgba(0, 128, 0, 1);
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}

div.loading-indicator-reverse {
    border-bottom: 10px solid;
    animation: oscillateBorderBottom 0.2s infinite;
}

div.loading-indicator-forward {
    border-top: 10px solid;
    animation: oscillateBorderTop 0.2s infinite;
}

.filtered {
    display: none !important;
}

#messageContainer {
    inset: 5%;
    padding: 10px;
}

.messageTitle {
    font-size: 1.5em;
    text-align: center;
}

.messageBody {
    font-size: 1.2em;
}

#messageActions a {
    color: #8040c0;
}

#messageActions a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.preferences-icon-overlay {
    background-color: #cccccc;
    cursor: pointer;
    justify-content: center;
    z-index: 1000;
}

.preferences-icon-overlay-sync-ready {
    background-color: #d5f5e3;
}

.preferences-icon-overlay-sync-pending {
    animation: fadeInOut 1s infinite;
    background-color: #f9e79f;
}

.preferences-icon-overlay-sync-success {
    background-color: #2ecc71;
}

.preferences-icon-overlay-sync-failure {
    background-color: #ec7063 ;
}

.preferences-icon-overlay span {
    color: white;
    font-size: 16px;
}

div.item-banner {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 0.7em;
    z-index: 10;
    color: black;
    text-shadow: 1px 1px rgba(255, 255, 255,0.8);
    background: rgba(128, 192, 192, 0.3);
    padding: 3px;
    border-radius: 4px;
}

.image-highlight {
    filter: invert(36%) sepia(28%) saturate(5764%) hue-rotate(194deg) brightness(102%) contrast(105%);
}

.load-time-icon {
    position: absolute;
    bottom: 2px;
    width: 24px;
    height: 24px;
    opacity: 0.8;
    filter: invert(93%) sepia(49%) saturate(2805%) hue-rotate(328deg) brightness(99%) contrast(96%) drop-shadow( 0.2px  0px 0px black)
        drop-shadow(-0.2px  0px 0px black)
        drop-shadow( 0px  0.2px 0px black)
        drop-shadow( 0px -0.2px 0px black);
}

.image-flip-x {
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}

.popup {
    display: none;
    position: fixed;
    max-height: 80vH;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* transform: scale(0.25); /\* Scale down to 75% *\/ */
    background: white;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    z-index: 1000;
}

nav + div {
    display: none;
}

div:has(>div.item) {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.item {
    display: flex;
    flex: 2;
    max-height: 100%;
}

.item > div:first-of-type {
    flex: 1;
}

.item > div:first-of-type > div:last-of-type {
    flex: 1;
}

.unrolled-banner {
    position: absolute;
    top: -0.5em;
    left: 10px;
    padding: 0px 5px;
    backdrop-filter: blur(10px);
}

.unrolled-divider {
    margin-top: 1em;
    color: #white;
}

.sidecar-replies {
    flex: 1 1 0;
    min-height: 0;
    max-height: 100%;
    overflow-y: auto;
    font-size: 0.8em;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    max-height: 80vH;
}

.sidecar-parent-indicator {
    position: absolute;
}

.sidecar-post {
    display: flex;
    flex-direction: column;
    padding: 5px;
    flex-shrink: 0;
    font-family: InterVariable, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.sidecar-post a {
    text-decoration: none;
}

.sidecar-post a:hover {
    text-decoration: underline;
}

.sidecar-post-user-info {
    display: flex;
    flex-direction: row;
    font-size: 0.9em;
}

.sidecar-post-avatar {
    width: 24px;
    height: 24px;
    padding: 2px;
}

.sidecar-post-username {
    font-weight: 600;
    color: rgb(11, 15, 20);
}

.sidecar-post-handle {
    color: rgb(66, 87, 108);
    font-variant: no-contextual;
}

.sidecar-post-content {
    padding: 5px 0px;
}

.sidecar-post-footer {
    color: rgb(66, 87, 108);
    display: flex;
    flex-direction: row;
    font-size: 11px;
}

.sidecar-post-footer svg, .sidecar-post-footer span {
    display: inline-flex;
    vertical-align: middle;
    /* flex: 1; */
    color: rgb(111, 134, 159);
}

.sidecar-post-timestamp {
    display: inline-flex;
    vertical-align: middle;
    flex: 3;
}

.sidecar-parent .sidecar-post {
    border: 3px dashed rgb(111, 134, 159);
    padding: 5px;
}

.sidecar-post-counts {
    display: flex;
    flex: 2;
}

.sidecar-count {
    display: flex;
    flex: 1;
    justify-content: right;
    align-items: center;
}

.sidecar-count-icon > svg {
  height: 1em;
}
